Source: xserver-xorg-video-dummy
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper-compat (= 13),
 quilt,
 pkg-config,
 xserver-xorg-dev (>= 2:1.11.99.901),
 x11proto-dev,
 xutils-dev
Standards-Version: 4.6.0
Vcs-Git: https://anonscm.debian.org/git/pkg-xorg/driver/xserver-xorg-video-dummy.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=pkg-xorg/driver/xserver-xorg-video-dummy.git

Package: xserver-xorg-video-dummy
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: X.Org X server -- dummy display driver
 This package provides a 'dummy' display driver, which does not actually
 display anything.
 .
 More information about X.Org can be found at:
 <URL:https://www.X.org>
 .
 This package is built from the X.org xf86-video-dummy driver module.
